.body{
    padding-left: 90px;
    padding-top: 70px;
    padding-right: 10px;
    padding-bottom: 1000pxs;
    background-color: rgb(245, 245, 245);
}
.content-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 35px;
}
